.deps
.libs
Makefile
Makefile.in
aclocal.m4
applewm.pc
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
*~
*.o
*.la
*.lo
libAppleWM-*.tar.*
ChangeLog
tags
